.sidebar
  height: 100vh
  padding-top: 1em
  padding-left: 1em
  padding-right: 1em

  h4
    text-align: center
    text-transform: capitalize

  .list-group
    .list-group-item
      padding-top: .65em
      padding-bottom: .65em

      a
        color: black
        text-decoration: none
        text-transform: capitalize

        i
          margin-right: 1em

  .sidebar-footer
    margin-top: 5em
