@import "mixins"
@import "colors"

.anchor-link
  opacity: 0
  color: $color-med-blue

  &:hover,
  &:focus
    opacity: .3

.nav-section
  position: fixed
  padding: 1em 1em 1em 2em

  small
    text-transform: uppercase

  .list-group
    margin-top: 1em

.alert
  border: 2px solid $color-dark-blue
  color: $color-dark-blue
  background-color: white
  padding: 2em

.content-section
  p
    text-align: justify

.pagination-section
  .d-flex
    small, h4
      color: $color-dark-blue

