extends layout

append links
	link(rel='stylesheet' href='../assets/css/home.css')
	title Home

block content
	.container.mx-auto
		section.section.hero-section
			.row
				.col-md-4.image-wrapper
					img(src='../assets/images/manual1.svg')
				.col-md-8.text-wrapper
					h2 documentation
					p Here you will find all the information you need regarding our Application and you can also ask for&nbsp;
						a(href='#') support.
					.d-inline-block
						button.btn.btn-dark-blue-f.me-3
							i.fas.fa-bolt.me-2
							| interactive tutorial
						button.btn.btn-light-blue-f
							i.fas.fa-play.me-2
							| document.io in 45 seconds
		section.section.features-section
			.container
				.row
					.col-md-6
						.card
							.card-header
								.row
									.col-md-3
										img(src='../assets/images/watch.svg')
									.col-md-9
										h4 quick start
										p.text-muted Our quickstarts help you get something
							.card-body
								.list-group.list-group-flush
									a(href='#').list-group-item
										i.far.fa-square
										| funnies
									a(href='#').list-group-item
										i.far.fa-square
										| tracking software
									a(href='#').list-group-item
										i.far.fa-square
										| clients
					.col-md-6
						.card
							.card-header
								.row
									.col-md-3
										img(src='../assets/images/laptop.svg')
									.col-md-9
										h4 platform basics
										p.text-muted Basic principles of working with the platform
							.card-body
								.list-group.list-group-flush
									a(href='#').list-group-item
										i.far.fa-square
										| create offer
									a(href='#').list-group-item
										i.far.fa-square
										| use filters
									a(href='#').list-group-item
										i.far.fa-square
										| conversion
					.col-md-6
						.card
							.card-header
								.row
									.col-md-3
										img(src='../assets/images/developer.svg')
									.col-md-9
										h4 developer guides
										p.text-muted These articles are about development basics
							.card-body
								.list-group.list-group-flush
									a(href='#').list-group-item
										i.far.fa-square
										| design
									a(href='#').list-group-item
										i.far.fa-square
										| architecture
									a(href='#').list-group-item
										i.far.fa-square
										| analysis
					.col-md-6
						.card
							.card-header
								.row
									.col-md-3
										img(src='../assets/images/api.svg')
									.col-md-9
										h4 API
										p.text-muted All about working with the API
							.card-body
								.list-group.list-group-flush
									a(href='#').list-group-item
										i.far.fa-square
										| what is API
									a(href='#').list-group-item
										i.far.fa-square
										| how to use API
									a(href='#').list-group-item
										i.far.fa-square
										| API - for developers
		section.section.articles-section
			.container
				.row
					.col-md-6
						h4 popular articles&nbsp;
							i.fas.fa-star.small
						a(href='#').card
							.card-body
								p roadmap funnel tests
						a(href='#').card
							.card-body
								p roadmap trading platform
					.col-md-6
						h4 new articles&nbsp;
							i.fas.fa-asterisk
						a(href='#').card
							span.new-notification new
							.card-body
								p how to add funnel
						a(href='#').card
							span.new-notification new
							.card-body
								p epics

