nav.navbar.navbar-expand-lg
	.container
		a.navbar-brand(href='home.html')
			img(src='../assets/images/manual.svg')
			| Document.IO
		button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			i.fas.fa-bars
		.collapse.navbar-collapse#navbarSupportedContent
			.input-group
				span.input-group-text
					i.fas.fa-search
				input(type='search' placeholder='Search by Article and Content' aria-label='Search').form-control
			ul.navbar-nav
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle="dropdown" aria-expanded="false")
						span.flag-icon.flag-icon-us.me-1
						| eng
					ul.dropdown-menu(aria-labelledby="navbarDropdown")
						li
							a.dropdown-item(href='#')
								span.flag-icon.flag-icon-fr
								| fra
						li
							a.dropdown-item(href='#')
								span.flag-icon.flag-icon-es
								| spa
						li
							a.dropdown-item(href='#')
								span.flag-icon.flag-icon-it
								| ita
						li
							a.dropdown-item(href='#')
								span.flag-icon.flag-icon-cn
								| chn
				li.nav-item
					a.nav-link(href='home.html')
						| guides
				li.nav-item
					a.nav-link(href='#')
						| api reference
				li.nav-item
					a.nav-link(href='#')
						| integrations
				li.nav-item
					a.nav-link(href='faq.html')
						| faq
