aside.sidebar
	h4 table of contents
	.list-group.list-group-flush
		a(href='home.html').list-group-item
			i.fas.fa-home.fa-fw
			| home
		a(href='getting started.html').list-group-item
			i.fas.fa-bolt.fa-fw
			| getting started
		a(href='').list-group-item
			i.fas.fa-th-large.fa-fw
			| managing results
		a(href='').list-group-item
			i.fas.fa-cloud-upload-alt.fa-fw
			| sending and managing data
		a(href='').list-group-item
			i.fas.fa-chart-pie.fa-fw
			| getting insights and analytics
		a(href='').list-group-item
			i.fas.fa-shield-alt.fa-fw
			| security
		a(href='').list-group-item
			i.fas.fa-layer-group.fa-fw
			| scaling
		a(href='').list-group-item
			i.fas.fa-cube.fa-fw
			| solutions
	.sidebar-footer
		ul.list-group
			li.list-group-item
				a(href='#')
					i.fas.fa-life-ring.fa-fw
					| technical support
